Source: salt-formula-nova
Maintainer: Jakub Pavlik <jakub.pavlik@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://wiki.openstack.org/wiki/OpenStackSalt
Vcs-Browser: https://github.com/openstack/salt-formula-nova
Vcs-Git: https://github.com/openstack/salt-formula-nova.git

Package: salt-formula-nova
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: Nova Salt formula
 Install and configure Nova server and client.
